html{
    background: url("https://www.publicdomainpictures.net/pictures/100000/velka/retro-blocks-1406494470dMr.jpg");
    background-repeat: repeat;
    background-color: rgb(236, 231, 231);
    background-size: 1000px;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center; /* makes sketch float in center*/
    justify-content: center;
}

#logowrap{
    padding: 10px;
    height: 100px;
    justify-self: center;
    justify-content: center;
}

#etchlogo{
    position: relative;
    height: 75px;
    top: 20px;
    border-radius: 40%;
}

#buttonwrap{
    justify-content: center;
    justify-self: center;
    padding: 10px;
}

#resize{
    position: relative;
    background-color: white;
    border-color: grey;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-family: Gill Sans;
    font-size: 16px;
    justify-self: center;
}

#sketchwrap{
    width: 500px;
    height: 500px;
    
}

#sketch{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*creates 4 rows of equal fractions*/
    grid-auto-rows: 1fr; /*same size bb*/
    align-items: center;
    justify-content: center
}

.sqr{
  display: grid;  
  border: 0px solid black;
  height: 125px;
  width: 125px;
  background: white;
}

.hover{
    background: black;
}